/*  your css code here. If applicable */
.container{
    width: 100%;
    background-color: black;
    border: 2px solid black;
    padding: 2px;
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    gap: 2px;
    margin: 0;
    padding: 0;
  }

  .square {
    width: 10px;
    height: 10px;
    background-color: rgb(112, 105, 105);
    border: 1px solid black;
    
  }
